*{
	margin: 0px;
}

p{
	font-family: arial;
	color: white;
	text-align: center;
}

header{
	border: 2px solid black;
	width: 99.3%;
	height: 80px;
	background-color: green;
	float: left;
}

#titulo{
	font-size: 40px;
	font-family: arial;
	color: white;
	margin-top: 20px;
	margin-left: 2%;
}

#form{
	text-align: center;
	font-family: arial;
	margin-top: 20px;
	color: black;
}

main{
	border: 5px solid black;
	width: 47.75%;
	height: 465px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: white;
	float: left;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
 	border-radius:7px;
}

#primeiro{
	float: left;
	width: 25%;
	height: 465px;
	background-color: white;
}

#segundo{
	float: left;
	width: 25%;
	height: 465px;
	background-color: white;
}

footer{
	border: 2px solid black;
	width: 99.3%;
	height: 50px;
	background-color: green;
	float: left;
}

#footer{
	margin-top: 16px;
	text-align: center;
	font-family: arial;
	color: black;
	font-weight: bold;
	font-size: 16px;
}

form{
	margin-left: 17%;
}

#form1{
	width: 40%;
	height: 140px;
	margin-left: 30%;
	margin-top: 20px;
	border: 1px solid black;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
 	border-radius:20px;
 	background-color: #DCDCDC;
}

#form2{
	margin-top: 15px;
	margin-left: 13%;
	font-family: arial;
	font-weight: bold;
}

#label{
	margin-left: 10%;
}

#label2{
	margin-left: 12%;
}

#salario{
	margin-left: 5%;
}

#nome{
	margin-left: 5%;
	margin-bottom: 10px;
}

#input{
	margin-left: 28%;
	font-family: arial;
	font-weight: bold;
	background-color: green;
	border-color: green;
	color: white;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
 	border-radius:7px;
 	margin-top: 5px;
}

p{
	color: gray;
	font-size: 14px;
	font-weight: bold;
}

#section{
	width: 90%;
	margin-top: 1px;
	margin-left: 3%;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
 	border-radius:7px;
 	background-color: #DCDCDC;
 	border: 1px solid black;
}

#section2{
	width: 90%;
	margin-top: 10px;
	margin-left: 7%;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
 	border-radius:7px;
 	background-color: #DCDCDC;
 	border: 1px solid black;
}

#section2 li{
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
}

#section2 h2{
	font-family: arial;
	font-size: 16px;
	margin-left: 2%;
	margin-top: 5px;
}

#section p{
	color: black;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 5px;
	font-size: 12px;
	font-weight: bold;
}

#section h2{
	font-family: arial;
	font-size: 14px;
	margin-left: 2%;
	margin-top: 5px;
}

#section li{
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
}

#sobre{
	width: 24%;
	height: 40px;
	margin-left: 3%;
	margin-top: 10px;
	border: 1px solid black;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
 	border-radius:7px;
 	background-color: #DCDCDC;
}

#sobre h2{
	font-family: arial;
	margin-left: 5px;
	margin-top: 5px;
}

#mostrar{
	border: 1px solid black;
	width: 80%;
	height: 100px;
	margin-left: 10%;
	margin-top: 10px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
 	border-radius:7px;
 	background-color: #DCDCDC;
}

#mostrar1{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

#mostrar2{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

#mostrar3{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

#mostrar4{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

#mostrar5{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

table{
	margin-top: 10px;
	margin-left: 2%;
	margin-right: 2%;
}

table tr td{
	border: 2px solid black;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
 	border-radius: 5px;
 	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}


#section2 li{
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
}

#section2 h2{
	font-family: arial;
	font-size: 16px;
	margin-left: 2%;
	margin-top: 5px;
}

#section p{
	color: black;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 5px;
	font-size: 12px;
	font-weight: bold;
}

#section h2{
	font-family: arial;
	font-size: 14px;
	margin-left: 2%;
	margin-top: 5px;
}

#section li{
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
}

#sobre{
	width: 24%;
	height: 40px;
	margin-left: 3%;
	margin-top: 10px;
	border: 1px solid black;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
 	border-radius:7px;
 	background-color: #DCDCDC;
}

#sobre h2{
	font-family: arial;
	margin-left: 5px;
	margin-top: 5px;
}

#mostrar{
	border: 1px solid black;
	width: 80%;
	height: 100px;
	margin-left: 10%;
	margin-top: 10px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
 	border-radius:7px;
 	background-color: #DCDCDC;
}

#mostrar1{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

#mostrar2{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

#mostrar3{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

#mostrar4{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

#mostrar5{
	color: black;
	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}

table{
	margin-top: 10px;
	margin-left: 2%;
	margin-right: 2%;
}

table tr td{
	border: 2px solid black;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
 	border-radius: 5px;
 	font-weight: bold;
 	font-family: arial;
 	font-size: 14px;
}
