#div1{
	border: 1px solid black;
	width: 29%;
	height: 555px;
	float: left;
}

#div1 img{
	widows: 100%;
	height: 300px;
	float: left;
}

#cores{
	width: 100%;
	height: 245px;
	float: left;
	display: none;
}

#div2{
	border: 1px solid black;
	width: 70.7%;
	height: 555px;
	float: left;
	background-color: #dcdcdc;
}

#vermelho{
	border: 1px solid black;
	width: 100%;
	height: 50px;
	float: left;
	background-color: red;
}
#azul{
	border: 1px solid black;
	width: 100%;
	height: 50px;
	float: left;
	background-color: blue;
}
#amarelo{
	border: 1px solid black;
	width: 100%;
	height: 50px;
	float: left;
	background-color: yellow;
}
#roxo{
	border: 1px solid black;
	width: 100%;
	height: 50px;
	float: left;
	background-color: purple;
}

#verde{
	border: 1px solid black;
	width: 100%;
	height: 50px;
	float: left;
	background-color: green;
}

#vermelho2{
	border: 1px solid black;
	width: 40%;
	height: 300px;
	float: left;
	background-color: red;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	z-index: 0;
}

#azul2{
	border: 1px solid black;
	width: 40%;
	height: 300px;
	float: left;
	background-color: blue;
	position: absolute;
	margin-top: 40px;
	margin-left: 40px;
	z-index: 0;
}
#amarelo2{
	border: 1px solid black;
	width: 40%;
	height: 300px;
	float: left;
	background-color: yellow;
	position: absolute;
	margin-top: 60px;
	margin-left: 60px;
	z-index: 0;
}
#roxo2{
	border: 1px solid black;
	width: 40%;
	height: 300px;
	float: left;
	background-color: purple;
	position: absolute;
	margin-top: 80px;
	margin-left: 80px;
	z-index: 0;
}
#verde2{
	border: 1px solid black;
	width: 40%;
	height: 300px;
	float: left;
	background-color: green;
	position: absolute;
	margin-top: 100px;
	margin-left: 100px;
	z-index: 0;
}
footer{
	background-color: black;
	width: 100%;
	height: 50px;
	float: left;
}